body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/images/bg2.png') center/cover no-repeat;

  color: white;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
html {
  overflow: auto;
  scroll-behavior: smooth;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.01);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
